fastapi
uvicorn
langchain
langchain-community
langchain-core
langchain-text-splitters
python-dotenv
pydantic
tqdm
requests
numpy
pandas
scikit-learn
torch
transformers
sentence-transformers
faiss-cpu
Flask==3.0.3